.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 0px 50px;
}

.barra h1{
    font-family: 'Playfair Display SC', serif;
}

.mn{
    display: none;
}

.header{
    display: flex;
    flex-direction: column;
    background-image: url(../img/sushi1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 300px;
    color: white;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    margin-left: 32px;
    color: white;
    font-family: 'Cinzel', serif;
}

.menu ul li a span{
    border: 2px solid white;
    padding: 8px 20px 8px 20px;
}

.sushi{
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    text-align: center;
    background: #2c2b2b52;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 300px;
}

.sushi span{
    font-size: 20px;
}

.sushi hr{
    width: 50px;
    height: 3px;
    background: white;
    border: none;
}

/* -------------------- */

.center{
    text-align: center;
    background-color: rgb(223, 210, 210);
    padding: 90px 20px 150px 20px;
    margin-top: 15px;
}

.center hr{
    width: 50px;
    height: 3px;
    background: black;
    border: none;
}

.center h1{
    font-family: 'Playfair Display SC', serif;
}

.cajas{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-family: 'Spartan', sans-serif;
}


.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 250px;
    box-shadow: 1px 1px 10px rgb(71, 70, 70);
}

.caja p{
    padding: 20px 45px 40px 45px;
    text-align: center;
}

.caja img{
    width: 100%;
}

/* -------------------- */

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about hr{
    width: 50px;
    height: 3px;
    background: black;
    border: none;
}

.texto{
    padding-top: 100px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

.texto p{
    padding: 30px 100px 0px 100px;
    text-align: justify;
    font-family: 'Josefin Slab', serif;
}

.img1 img{
    width: 100%;
}

/* -------------------- */

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 210, 210);
    padding: 50px 0px 80px 0px;
    font-family: 'Playfair Display SC', serif;
}

.subscribe p{
    font-family: 'Spartan', sans-serif;
}

.subscribe input{
    padding: 16px;
    width: 25%;
    box-sizing: border-box; 
    background-color: rgb(241, 238, 238);
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Josefin Slab', serif;
}

.subscribe button{
    background: none;
    padding: 8px 30px 8px 30px;
    font-family: 'Cinzel', serif;
    border: 2px solid black;
    font-weight: bold;
}

/* -------------------- */

.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact{
    display: flex;
    align-items: center;
    border: 2px solid rgb(141, 138, 138);
    padding: 10px 150px 10px 10px;
    border-radius: 8px;
}

.contact img{
    height: 60px;
    border-radius: 60px;
    margin-right: 16px;
    box-shadow: 1px 1px 10px gray;
}

.info2 p{
    font-weight: bold;
    font-family: 'Spartan', sans-serif;
}

.info2 p span{
    font-weight: normal;
    font-size: smaller;
    font-family: 'Spartan', sans-serif;
}

.redes i{
    color: white;
    font-size: 20px;
    background: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 20px;
    width: 20px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
}

.menu2 ul{
    display: flex;
}

.menu2 ul li{
    list-style-type: none;
}

.menu2 ul li a{
    text-decoration: none;
    margin-left: 32px;
    color: black;
    font-family: 'Cinzel', serif;
}

@media screen and (max-width: 768px){
    .barra{
        display: none;
    }
    
    .mn{
        margin-top: 10px;
        margin-right: 15px;
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .center{
        padding-top: 35px;
    }

    .cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caja{
        margin-bottom: 20px;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .texto{
        padding: 0px;
    }

    .texto p{
        padding: 5px;
    }

    .subscribe input{
        width: 50%;
    }
    
    .subscribe button{
        width: 50%;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .menu2 ul{
        display: flex;
        flex-direction: column;
    }

    .menu2 ul li{
        margin-bottom: 32px;
        text-align: center;
    }   

    .redes{
        text-align: center;
    }

    .redes i{
        margin-left: 10px;
    }

}